.Platform {
  .VerticalOptions {
    display: flex;
    justify-content: space-evenly;
    .CodeEditor {
      flex-grow: 2;
    }
    .ScratchPad {
      width: 30vw;
      height: 75vh;
      // background-color: navy;
    }
  }
  .CodeDebugger {
    width: 100vw;
    background-color: red;
  }
}